spring:
  application:
    name: jwong-eureka-server

server:
  port: 1112

eureka:
  instance:
    hostname: peer2
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://peer1:1111/eureka/

